.window-animation-enter .window-animation-container {
  scale: .9;
  opacity: 0;
}

.window-animation-enter-active .window-animation-container {
  scale: 1;
  opacity: 1;
  transition: scale 250ms, opacity 250ms;
}

.window-animation-exit .window-animation-container {
  scale: 1;
  opacity: 1;
}

.window-animation-exit-active .window-animation-container {
  scale: .9;
  opacity: 0;
  transition: scale 250ms, opacity 250ms;
}