@import 'tailwindcss';

@theme {
  --color-transparent: transparent;
  --color-divider: var(--divider);
  --color-font: var(--font);
  --color-accent: var(--accent);
  --color-font-secondary: var(--font-secondary);
  --color-background: var(--background);
  --color-background-opaque: var(--background-opaque);
  --color-background-secondary: var(--background-secondary);
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular;
}

html {
  font-size: 16px;
}

::selection {
  color: black;
  background: var(--accent);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --blur: 4px;
  --unfocused-blur: 8px;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button {
  cursor: pointer;
}
